#
# Logical Preferences generated for Lattice by Synplify map201409latrcp1, Build 005R.
#

# Period Constraints 
#FREQUENCY PORT "clk_12MHz" 1.0 MHz;
#FREQUENCY NET "arm_select_0_" 1.0 MHz;


# Output Constraints 

# Input Constraints 

# Point-to-point Delay Constraints 



# Block Path Constraints 
#BLOCK PATH FROM CLKNET "arm_select_0_" TO CLKNET "clk_12MHz_c";
#BLOCK PATH FROM CLKNET "clk_12MHz_c" TO CLKNET "arm_select_0_";

BLOCK ASYNCPATHS;

# End of generated Logical Preferences.
