#
# Logical Preferences generated for Lattice by Synplify map201409latrcp1, Build 005R.
#

# Period Constraints 
#FREQUENCY PORT "clk_20MHz" 1.0 MHz;


# Output Constraints 

# Input Constraints 

# Point-to-point Delay Constraints 



# Block Path Constraints 

BLOCK ASYNCPATHS;

# End of generated Logical Preferences.
